images/
*.bak
labs/clab-base/*

!labs/clab-base/*.yml
!labs/clab-base/inventory/
!labs/clab-base/device_configs/
!labs/clab-base/scripts/
!labs/clab-base/images/
!labs/clab-base/images/*.png

**/__pycache__
